{% extends 'base.html' %}

{% block content %}
{% load static %}
<html>
<head>
  <meta http-equiv="refresh" content="5; url=http://google.com/" />
  <meta name="viewport" content="width=device-width initial-scale=1">
  <link href='static/css/main.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <title>Submit</title>
</head>
<body>
	<section class="hero">
    <div class="container">
      <h2><p align ='center'>
      Thank you for providing your details. We will contact back you soon.
      </p>
      <p> You'll be redirected to Home Page automatically in five seconds.</p></h2>
    </div>
	</section>
</body>
</html>
{% endblock %}
